root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.{js,css.scss,vue}]
indent_size = 2

[*.{html,toml,yml}]
indent_size = 2

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab
indent_size = 4
